@{
    ViewData["Title"] = "PABP";
}

<div class="text-center">
    <h1 class="display-4">Dobro došli</h1>
    <p>Realizacija drugog projektnog zadatka iz predmeta "Programiranje aplikacija baza podataka"</p>
</div>
